<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
        <div>
          <label for="projectName">Project Name</label>
          <input
            type="text"
            name="projectName"
            id="projectName"
            formControlName="projectName"
          />
          <p
            *ngIf="
              projectForm.get('projectName').invalid &&
              projectForm.get('projectName').touched
            "
          >
            Please enter a valid project name!
          </p>
          <label for="email">Email</label>
          <input type="email" name="email" id="email" formControlName="email" />
          <p
            *ngIf="
              !projectForm.get('email').valid &&
              projectForm.get('email').touched
            "
          >
            Please enter a valid email!
          </p>
          <label for="status">Project Status</label>
          <select name="status" id="status" formControlName="status">
            <option
              *ngFor="let statusOption of statusOptions"
              [value]="statusOption"
            >
              {{ statusOption }}
            </option>
          </select>
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
